.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    background: #042b2e;
    padding-top: 15px;
    border-left: 2px solid #00ff85;
}

.logo img {
    width: 90px;
    margin-bottom: 8px;
}

.logo {
    text-align: center;
    color: #bfffe3;
    font-size: 14px;
}

.nav-btn {
    display: block;
    margin: 8px 10px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #00ff85;
    color: #caffea;
    border-radius: 10px;
    background: rgba(0,100,90,0.1);
    transition: .2s;
    text-align: center;
}

.nav-btn:hover {
    background: #00ff85;
    color: #004a2f;
    font-weight: bold;
}

.logout {
    background: #ff5757 !important;
    border: none !important;
    color: white !important;
}
